Repository doxygen/doxygen, pull requests merged in 2020-10, with the labels that each got.

#8068 Warning about possible loss of data
  src/template.cpp
Labels: bug

#8072 Using f() instead f(void) in C++ , consistency
  src/message.cpp
  src/portable.cpp
  src/portable.h
  src/util.cpp
  src/util.h
Labels: bug, install/build

#8069 Flush warnings file
  src/doxygen.cpp
  src/message.cpp
  src/message.h
Labels: enhancement

#8074 Incorrect recognition as RCS tag
  src/doctokenizer.l
Labels: bug

#8056 Miscounting of lines in respect to page command
  src/cite.cpp
  src/commentscan.l
  src/context.cpp
  src/doxygen.cpp
  src/entry.cpp
  src/entry.h
  src/index.cpp
  src/markdown.cpp
  src/markdown.h
  src/pagedef.cpp
  src/pagedef.h
  src/reflist.cpp
  src/util.cpp
  src/util.h
Labels: Markdown, bug

#8059 added support for mingw PRETTY_FUNC
  src/markdown.cpp
Labels: bug, install/build

#8046 Miscounting lines in doctokenizer
  src/docparser.cpp
  src/doctokenizer.h
  src/doctokenizer.l
Labels: bug

#8075 Missing dependency for CMake build
  addon/doxywizard/CMakeLists.txt
Labels: bug, doxywizard, install/build

#8077 Doxywizard expert page item without settings
  addon/doxywizard/expert.cpp
Labels: bug, doxywizard

#8076 Create possibility to show in doxywizard "condensed" settings
  addon/doxywizard/doxywizard.cpp
  addon/doxywizard/doxywizard.h
  addon/doxywizard/expert.cpp
  addon/doxywizard/expert.h
  addon/doxywizard/input.h
  addon/doxywizard/inputbool.cpp
  addon/doxywizard/inputbool.h
  addon/doxywizard/inputint.cpp
  addon/doxywizard/inputint.h
  addon/doxywizard/inputstring.cpp
  addon/doxywizard/inputstring.h
  addon/doxywizard/inputstrlist.cpp
  addon/doxywizard/inputstrlist.h
Labels: doxywizard, enhancement

#8080 Warnings during compilation of doctokinizer
  src/doctokenizer.l
Labels: bug, install/build

#8084 Incorrect counting of markdown verbatim block
  src/markdown.cpp
Labels: Markdown, bug

#8081 Adding possibility to add command line options when running doxygen from doxygen wizard
  addon/doxywizard/doxywizard.cpp
  addon/doxywizard/doxywizard.h
Labels: doxywizard, enhancement

#8082 Docbook missing in doxywizard Wizard-Output page
  addon/doxywizard/wizard.cpp
  addon/doxywizard/wizard.h
Labels: bug, doxywizard

#8085 Optimization for Slice missing in doxywizard Wizard-Mode page
  addon/doxywizard/wizard.cpp
Labels: bug, doxywizard

#8087 Consistency for use class graphs / class diagrams
  addon/doxywizard/wizard.cpp
Labels: bug, doxywizard

#8089 Spelling error
  src/docvisitor.cpp
  src/scopedtypevariant.h
Labels: bug

#8088 Miscounting of lines in respect to page command (ATX header)
  src/markdown.cpp
Labels: Markdown, bug

#8086 Missing footer on first page of each chapter in LaTeX
  doc/doxygen_manual.tex
  doc/manual.sty
  src/latexgen.cpp
Labels: LaTeX, bug, documentation

#8079 issue #8078 Warning and extra text when using Markdown as mainpage
  src/markdown.cpp
Labels: bug

#8092 Translation function trCompoundListDescription no entry for SLICE
  src/translator_br.h
  src/translator_ca.h
  src/translator_de.h
  src/translator_dk.h
  src/translator_eo.h
  src/translator_es.h
  src/translator_fi.h
  src/translator_gr.h
  src/translator_hu.h
  src/translator_id.h
  src/translator_it.h
  src/translator_lt.h
  src/translator_lv.h
  src/translator_mk.h
  src/translator_nl.h
  src/translator_no.h
  src/translator_pl.h
  src/translator_pt.h
  src/translator_ro.h
  src/translator_ru.h
  src/translator_sc.h
  src/translator_sr.h
  src/translator_sv.h
  src/translator_ua.h
  src/translator_vi.h
  src/translator_za.h
Labels: bug

#8104 Incorrect label / name in case regeneration of HTML without regeneration of dot files
  src/dotgraph.cpp
Labels: HTML, bug

#8100 Space around images in LaTeX output is sometimes a bit large
  doc/doxygen_manual.tex
  src/latexgen.cpp
  templates/latex/doxygen.sty
Labels: LaTeX, documentation, enhancement

#8096 Don't start dvips when latex fails for formulas
  src/formula.cpp
Labels: bug

#8095 Compilation warnings in doxyparse
  addon/doxyparse/doxyparse.cpp
Labels: bug, install/build

#8097 issue #8093 Some URLs in fresh/updated Doxyfile are split over two lines
  src/configgen.py
Labels: bug

#8099 Warning about duplicate figure numbers in LaTeX
  doc/manual.sty
  templates/latex/doxygen.sty
Labels: LaTeX, bug, documentation

#8109 issue #8105 How do add (multiple files without extension) directory in INPUT field of doxygen configuration file
  src/config.xml
Labels: documentation, enhancement

#8108 Miscounting in respect to lists in markdown
  src/doctokenizer.l
Labels: Markdown, bug

#8111 Miscounting in case of markdown links
  src/markdown.cpp
Labels: Markdown, bug

#8112 Confusing message for extension mapping for extension with starting dot.
  src/doxygen.cpp
Labels: bug

#8121 Small layout improvement in documentation of CLANG_DATABASE_PATH
  src/config.xml
Labels: bug, documentation

#8101 Layout changes doxywizard
  addon/doxywizard/doxywizard.cpp
  addon/doxywizard/doxywizard.h
Labels: bug, doxywizard

#8115 Miscounting in markdown in case of a horizontal ruler.
  src/markdown.cpp
Labels: Markdown, bug

#8116 Incomplete documentation in respect to hyphens for horizontal rulers
  doc/markdown.doc
Labels: Markdown, bug, documentation

#8117 Miscounting of line in case of markdown `\ref` image
  src/markdown.cpp
Labels: Markdown, bug

#8114 Miscounting in case of markdown wanted newline due to spaces at end of line
  src/markdown.cpp
Labels: Markdown, bug

#8126 Miscounting lines with markdown blockquote
  src/markdown.cpp
Labels: Markdown, bug

#8125 Miscounting lines with markdown table
  src/markdown.cpp
Labels: Markdown, bug

#8122 Remove warnings from lexers
  addon/doxywizard/config_doxyw.l
  src/code.l
  src/fortrancode.l
  src/pycode.l
  src/sqlcode.l
  src/vhdlcode.l
  src/xmlcode.l
Labels: bug, install/build

#8123 Miscounting lines with markdown backtick section
  src/markdown.cpp
Labels: Markdown, bug

#8124 Redundant / incorrect required version of cmake
  src/CMakeLists.txt
Labels: bug, install/build

#8134 issue #8132 Markdown inclusion of images broken after 39db9f48
  src/markdown.cpp
Labels: Markdown, bug

#8133 issue #8127 Java: xml output of preformatted (`<pre>`) block adds para-block for blank lines (hindering certain manual parsing)
  src/doctokenizer.l
Labels: C/C++, Java, bug

#8138 issue #8137 Whitespace/Separator required to recognize custom command argument
  src/util.cpp
Labels: bug

#8136 Remove double usepackage / RequirePackage from LaTeX
  src/latexgen.cpp
  templates/latex/doxygen.sty
Labels: LaTeX, bug

#8131 issue #8130 Markdown relative links - not working for other folders
  src/markdown.cpp
Labels: Markdown, bug

#8140 issue #8139 Segfault after a8bf5d3
  src/doxygen.cpp
Labels: bug

#8141 Handling commands for backslash and at-sign in ALIASES
  src/util.cpp
Labels: bug

#8146 issue #8144 Problem with `\\` at end of an ALIASES in the configuration file
  addon/doxywizard/config_doxyw.l
  src/configimpl.l
Labels: bug, doxywizard
