Repository doxygen/doxygen, pull requests merged in 2020-03, with the labels that each got.

#7636 Fix C compiler warnings about C++ flags
  BUILD.txt
  CMakeLists.txt
  cmake/CompilerWarnings.cmake
Labels: install/build

#7637 Fixed minor typo in documentation (output.doc)
  doc/output.doc
Labels: bug, documentation

#7640 Doxygen version in the messages output
  src/doxygen.cpp
Labels: enhancement

#7645 Doxygen version information
  addon/doxyparse/doxyparse.cpp
  addon/doxywizard/doxywizard.cpp
  addon/doxywizard/expert.cpp
  libversion/doxyversion.cpp.in
  libversion/version.h
  src/configimpl.l
  src/context.cpp
  src/doxygen.cpp
  src/htmlgen.cpp
  src/latexgen.cpp
  src/layout.cpp
  src/resourcemgr.cpp
  src/rtfgen.cpp
  src/searchindex.cpp
  src/util.cpp
  src/util.h
  src/xmlgen.cpp
Labels: enhancement

#7646 Remove warnings from doxywizard
  addon/doxywizard/doxywizard.cpp
  addon/doxywizard/wizard.cpp
Labels: bug, doxywizard, install/build

#7643 Tcl has a problem with a case statement with just {} inside the switch statement
  src/tclscanner.l
Labels: bug, tcl

#7654 issue #7652 folder in file list has file icon
  src/ftvhelp.cpp
Labels: HTML, bug

#7648 Incorrect RTF link generated for cite and xref
  src/rtfdocvisitor.cpp
  src/util.cpp
Labels: RTF, bug

#7647 Missing anchors in RTF code output
  src/rtfgen.cpp
  src/rtfgen.h
Labels: RTF, bug

#7661 Documentation correction due to removal of Tcl
  doc/index.doc
  doc/starting.doc
Labels: bug, documentation, tcl

#7662 Correction due to removal of Tcl
  README.md
  cmake/packaging.cmake
  templates/xml/compound.xsd
Labels: XML, bug, documentation, install/build, tcl

#7666 issue #7664 bigobj not found with MSYS Makefiles
  CMakeLists.txt
Labels: bug, install/build

#7670 VHDL context syntax error
  vhdlparser/CharStream.h
  vhdlparser/VhdlParser.cc
  vhdlparser/VhdlParser.h
  vhdlparser/vhdlparser.jj
Labels: VHDL, bug

#7669 Incorrect determination of fixed form Fortran
  src/fortranscanner.l
Labels: Fortran, bug

#7632 Fortran function definitions at begin of a line
  src/pre.l
Labels: Fortran, bug

#7673 issue #7672 Request: use <img> tags instead of <object> tags for SVG images
  src/htmldocvisitor.cpp
  src/markdown.cpp
Labels: HTML, bug

#7677 Minor fix for formulas.doc
  doc/formulas.doc
Labels: bug, documentation
